<br><h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>To start the game click <a href="http://localhost:4200/">here</a><br>Note: this link only works when you haven't changed the connectionString.<br>You can start the game on Http://.../index</pre>



{{!-- {{
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
}} --}}