<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!--<script src="/javascripts/script.js"></script>-->
<script src="/javascripts/gameRoomScript.js"></script>
<!--<script src="/javascripts/roomScript.js"></script>-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--HTML-->
<div class="wrapper">
    <img id="logo" src="http://i.imgur.com/KbFjyBy.png"/>
    <section class="section-container">

        <article class="article-1 slideInLeft">
            <h1 id="title">Welcome to room: ...</h1>
            <div id="game-view">

                <div class="status"><b>Choose an option</b></div>

                <div class="choices">
                    <img id="image_scissor" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-014-512.png" height="200"/>
                    <img id="image_paper" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-005-512.png" height="200"/>
                    <img id="image_rock" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-016-512.png" height="200"/>
                </div>
                <div class="loading"></div>
                <div class="room-margin">
                    <div id="Players"></div>
                </div>
            </div>
            <div id="results-view">
                <div class="room-margin">
                    <b id="winner">RESULT</b>
                    <div class="parent-results">
                        <div id="results" class="article-3">

                        </div>
                    </div>
                </div>
            </div>

        </article>
        <article class="article-1 slideInRight">
            <div>
                <b id="chat-name">CHAT</b>
                <div class="parent">
                    <div id="conversation" class="article-2"></div>

                </div>
                <div class="room-margin">
                    <input class="text-input text-input3" id="data" placeholder="Type a message..."/>
                    <input class="game-button button3" type="button" id="datasend" value="send" />
                </div>

            </div>
        </article>
    </section>
</div>
