<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!--<script src="/javascripts/script.js"></script>-->
<script src="/javascripts/gameRoomScript.js"></script>
<!--<script src="/javascripts/roomScript.js"></script>-->

<!--HTML-->

<div class="wrapper">
    <h1 id="title">Welcome to room: ...</h1>

    <div class="status"><p>Choose an option</p></div>

    <div class="choices">
        <img id="image_scissor" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-014-512.png" height="200"/>
        <img id="image_paper" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-005-512.png" height="200"/>
        <img id="image_rock" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-016-512.png" height="200"/>
    </div>
    <div>
        <button id="button">button</button>
    </div>
</div>
