<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!--HTML-->
        <h1>Steen Papier schaar!</h1>
        <div id="future"></div>
        <form id="form" id="chat_form">
            <input id="chat_input" type="text">
            <input type="submit" value="Send">
        </form>

        <img id="image_scissor" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-014-512.png" height="512" width="512"/>
        <img id="image_paper" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-005-512.png" height="512" width="512"/>
        <img id="image_rock" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-016-512.png" height="512" width="512"/>

<!--Scripts-->
<script>
 var socket = io.connect('http://192.168.1.21:4200');
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });

 socket.on('broad', function(data) {
         $('body').append("Message: " + data + "<br>");
   });

 $('form').submit(function(e){
     e.preventDefault();
     var message = $('#chat_input').val();
     socket.emit('messages', message);
     console.log(message)
 });
// Added since first release
 $('#image_scissor').click(function () {
     console.log("Schaar geklikt!")
     socket.emit('choice', "scissor");
 })

 socket.on('choice', function(data) {
     $('body').append("keuze: " + data + "<br>");
 });
</script>