<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/javascripts/script.js"></script>

<!--HTML-->
        <h1>Steen Papier schaar!</h1>
        <div id="future"></div>
        <form id="form" id="chat_form">
            <input id="Room" type="text">
            <input type="submit" value="join">
        </form>
        <button id="call">call the room</button>

        <div class="player_count"></div>
        <div class="choices">
            <img id="image_scissor" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-014-512.png" height="200"/>
            <img id="image_paper" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-005-512.png" height="200"/>
            <img id="image_rock" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-016-512.png" height="200"/>
        </div>


