<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/javascripts/script.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--HTML-->
<div class="wrapper">
        <img id="splashImage_scissor" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-014-512.png"/>
        <img id="splashImage_paper" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-005-512.png"/>
        <img id="splashImage_rock" src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-016-512.png"/>
        <div class="registerBody">
            <img id="image_logo" src="http://i.imgur.com/KbFjyBy.png"/>

            <section class="section-article-conatiner3 inputUserName">
                <input id="userNameInput" class="text-input text-input1" type="text" placeholder="Username">
                <input id="UsernameplayButton" class="game-button button1" type="submit" value="Play">
            </section>
        </div>
</div>