<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/javascripts/script.js"></script>

<!--HTML-->
<div class="wrapper">
    <div>
        <img class="header-img" src="http://img.pngget.com/clip2/ydftg4jbxxm.png">
        <header class="mainheader">
            <h1 class="title">Realm Of RPS</h1>
        </header>
    </div>
    <div class="section-container">
        <section class="section-article-conatiner3">
            <h2>De Game</h2>
            <article class="article-2">
                <input class="text-input text-input1" type="text" placeholder="Username">
                <input class="game-button button1" type="submit" value="Start">
            </article>
        </section>
    </div>
</div>