<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!--<script src="/javascripts/script.js"></script>-->
<script src="/javascripts/roomScript.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--HTML-->
<div class="wrapper">
    <h1>Steen Papier schaar!</h1>
    <section class="section-container">
        <article class="article-1">
            <div>
                <b>CREATE ROOM</b>
                <div id="room creation">
                    <input class="text-input text-input2" id="roomname" placeholder="Enter name">
                    <input class="game-button button2" type="button" id="roombutton" value="CREATE">
                </div>
            </div>
            <div class="roomlist">
                <b>ROOMS</b>
                <div class="parent-roomlist">
                    <div id="rooms" class="article-3"></div>
                </div>
            </div>
            <div class="roomlist">
                <button class="game-button button1" type="button" id="JoinGame">Join</button>
            </div>
        </article>
        <article class="article-1">
            <div>
                <b>CHAT</b>
                <div class="parent">
                    <div id="conversation" class="article-2"></div>

                </div>
                <div class="roomlist">
                    <input class="text-input text-input3" id="data" placeholder="Type a message..."/>
                    <input class="game-button button3" type="button" id="datasend" value="send" />
                </div>

            </div>
        </article>
    </section>
</div>