<!--Resources-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/javascripts/script.js"></script>

<!--HTML-->
<h1>Steen Papier schaar!</h1>
<div id="future"></div>
<form id="form" id="chat_form">
    <input id="Name" type="text" placeholder="Username">
    <input id="Room" type="text" placeholder="Room Name">
    <input type="submit" value="join">
</form>
<div>
    <ul id="RoomList">
    </ul>
</div>

<script>
</script>