body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hide {
  display: none;
}

#background{
  position: absolute;
  height: 100%;
}

body {
  background-image: url("http://i.imgur.com/xeE1PN5.jpg");
  height: 100%;
  width: 100%;
}